###############################
## PKIRACMPDB INSTALL CONFIG ##
###############################
#24 Feb 2016#

#*Variables*
INSTALL_PATH=/ericsson/pki_postgres/db/pkiracmp
DDLS_PATH=/ericsson/pki_postgres/db/pkiracmp/ddls
SCRIPTS_PATH=/ericsson/pki_postgres/db/pkiracmp/scripts

INSTALL_LOG_DIR=${INSTALL_PATH}/logs
LOG_FILE=pkiracmp_install_db.log

DB=pkiracmpdb
DB_ROLE=pkiracmp
DB_GROUP=pkiracmpgrp

FILE_DIR=/ericsson/pki_postgres/db/etc/
FILE=.postgres_pwd
