[Unit]
Description=ENM Certificates
# RHEL 7
#After=remote-fs.target network-online.target default.target
After=remote-fs.target network-online.target multi-user.target
Conflicts=shutdown.target
 
[Service]
# RHEL 7
Type=forking
#Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/ericsson/ERICcredentialmanagercli/bin/enmCertificatesLocal.sh start
ExecStop=/etc/init.d/enmCertificates stop

[Install]
# RHEL 7
#WantedBy=default.target
WantedBy=multi-user.target
