################################
##PKIMANAGERDB INSTALL CONFIG ##
################################
#16 Jan 2016#

#*Variables*
INSTALL_PATH=/ericsson/pki_postgres/db/pkimanager
DDLS_PATH=/ericsson/pki_postgres/db/pkimanager/ddls
SCRIPTS_PATH=/ericsson/pki_postgres/db/pkimanager/scripts
MIGRATION_PATH=/ericsson/pki_postgres/db/pkimanager/migration

INSTALL_LOG_DIR=${INSTALL_PATH}/logs
LOG_FILE=pkimanager_install_db.log

DB=pkimanagerdb
DB_ROLE=pkimanager
DB_GROUP=pkimanagergrp

FILE_DIR=/ericsson/pki_postgres/db/etc/
FILE=.postgres_pwd
