##############################
## PKICDPSDB INSTALL CONFIG ##
##############################
#24 Feb 2016#

#*Variables*
INSTALL_PATH=/ericsson/pki_postgres/db/pkicdps
DDLS_PATH=/ericsson/pki_postgres/db/pkicdps/ddls
SCRIPTS_PATH=/ericsson/pki_postgres/db/pkicdps/scripts

INSTALL_LOG_DIR=${INSTALL_PATH}/logs
LOG_FILE=pkicdps_install_db.log

DB=pkicdpsdb
DB_ROLE=pkicdps
DB_GROUP=pkicdpsgrp

FILE_DIR=/ericsson/pki_postgres/db/etc/
FILE=.postgres_pwd