###############################
## PKICOREDB INSTALL CONFIG ##
###############################
#16 Jan 2016#

#*Variables*
INSTALL_PATH=/ericsson/pki_postgres/db/pkicore
DDLS_PATH=/ericsson/pki_postgres/db/pkicore/ddls
SCRIPTS_PATH=/ericsson/pki_postgres/db/pkicore/scripts
MIGRATION_PATH=/ericsson/pki_postgres/db/pkicore/migration


INSTALL_LOG_DIR=${INSTALL_PATH}/logs
LOG_FILE=pkicoredb_install_db.log

DB=pkicoredb
DB_ROLE=pkicore
DB_GROUP=pkicoregrp

FILE_DIR=/ericsson/pki_postgres/db/etc/
FILE=.postgres_pwd