################################
## PKIRASCEPDB INSTALL CONFIG ##
################################
#24 Feb 2016#

#*Variables*
INSTALL_PATH=/ericsson/pki_postgres/db/pkirascep
DDLS_PATH=/ericsson/pki_postgres/db/pkirascep/ddls
SCRIPTS_PATH=/ericsson/pki_postgres/db/pkirascep/scripts

INSTALL_LOG_DIR=${INSTALL_PATH}/logs
LOG_FILE=pkirascep_install_db.log

DB=pkirascepdb
DB_ROLE=pkirascep
DB_GROUP=pkirascepgrp

FILE_DIR=/ericsson/pki_postgres/db/etc/
FILE=.postgres_pwd