################################
## PKIRATDPSDB INSTALL CONFIG ##
################################
#16 Jan 2016#

#*Variables*
INSTALL_PATH=/ericsson/pki_postgres/db/pkiratdps
DDLS_PATH=/ericsson/pki_postgres/db/pkiratdps/ddls
SCRIPTS_PATH=/ericsson/pki_postgres/db/pkiratdps/scripts

INSTALL_LOG_DIR=${INSTALL_PATH}/logs
LOG_FILE=pkiratdps_install_db.log

DB=pkiratdpsdb
DB_ROLE=pkiratdps
DB_GROUP=pkiratdpsgrp

FILE_DIR=/ericsson/pki_postgres/db/etc/
FILE=.postgres_pwd