###############################
## KAPSDB INSTALL CONFIG##
###############################
#16 Jan 2016#

#*Variables*
HOSTNAME=${POSTGRES_SERVICE:-postgresql01}
PG_LSB_1=postgresql01

SERVICE=/sbin/service
PG_ROOT=/opt/rh/postgresql/bin

PG_USER=postgres

DB_VERSION_TABLE=db_version

TMP_DIR=/var/tmp

PG_PASS=
