###########################
## KAPSDB INSTALL CONFIG ##
###########################
#16 Jan 2016#

#*Variables*
INSTALL_PATH=/ericsson/pki_postgres/db/kaps
DDLS_PATH=/ericsson/pki_postgres/db/kaps/ddls
SCRIPTS_PATH=/ericsson/pki_postgres/db/kaps/scripts

INSTALL_LOG_DIR=${INSTALL_PATH}/logs
LOG_FILE=kaps_install_db.log

DB=kapsdb
DB_ROLE=kaps
DB_INTERNAL_ROLE=kapsinternaluser
DB_GROUP=kapsgrp

SYMMETRIC_KEY_TABLE=symmetric_key
SEQ_SYMMETRIC_KEY_ID=seq_symmetric_key_id

FILE_DIR=/ericsson/pki_postgres/db/etc/
FILE=.postgres_pwd